html {
  height: 100%;
  overflow: hidden;
}

body>#root {
  height: 100%;
}

body {
  /* transform: scale(1.25); */
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  perspective: 1px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}